

.magicbutton {
	background-color: #c0392b;
}

body {
	background-color: #3498db;
}
.subpage {
}
.auto-style1 {
	text-align: right;
}
#container {
	height: 400px;
	width: 80%;
	margin: 0 auto;
    padding: 10px;
	position: relative;
}

.top {
	border: 1px dashed #FF6600;
	text-align: center;
	height: 150px;
}
.subpage {
	border: 1px dashed #FF0000;
	text-align: center;
}
.bottom {
	text-align: center;
	border: 1px dashed #FFFF00;
}
